<h1>Editing body_scan</h1>

<% form_for(@body_scan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :water %><br />
    <%= f.text_field :water %>
  </p>
  <p>
    <%= f.label :metabolism %><br />
    <%= f.text_field :metabolism %>
  </p>
  <p>
    <%= f.label :visc %><br />
    <%= f.text_field :visc %>
  </p>
  <p>
    <%= f.label :fat %><br />
    <%= f.text_field :fat %>
  </p>
  <p>
    <%= f.label :muscle %><br />
    <%= f.text_field :muscle %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @body_scan %> |
<%= link_to 'Back', body_scans_path %>