<h1>Listing offer_skus</h1>

<table>
  <tr>
    <th>Promotion</th>
    <th>Sku</th>
  </tr>

<% @offer_skus.each do |offer_sku| %>
  <tr>
    <td><%=h offer_sku.promotion %></td>
    <td><%=h offer_sku.sku %></td>
    <td><%= link_to 'Show', offer_sku %></td>
    <td><%= link_to 'Edit', edit_offer_sku_path(offer_sku) %></td>
    <td><%= link_to 'Destroy', offer_sku, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New offer_sku', new_offer_sku_path %>