<h1>New offer_sku</h1>

<% form_for(@offer_sku) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :promotion %><br />
    <%= f.text_field :promotion %>
  </p>
  <p>
    <%= f.label :sku %><br />
    <%= f.text_field :sku %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', offer_skus_path %>