<p>
  <b>Order:</b>
  <%=h @item.order %>
</p>

<p>
  <b>Sku:</b>
  <%=h @item.sku %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @item.quantity %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>