<h1>Listing my_exercises</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Length</th>
    <th>Calories</th>
  </tr>

<% @my_exercises.each do |my_exercise| %>
  <tr>
    <td><%=h my_exercise.user %></td>
    <td><%=h my_exercise.title %></td>
    <td><%=h my_exercise.length %></td>
    <td><%=h my_exercise.calories %></td>
    <td><%= link_to 'Show', my_exercise %></td>
    <td><%= link_to 'Edit', edit_my_exercise_path(my_exercise) %></td>
    <td><%= link_to 'Destroy', my_exercise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New my_exercise', new_my_exercise_path %>