<p>
  <b>User:</b>
  <%=h @my_exercise.user %>
</p>

<p>
  <b>Title:</b>
  <%=h @my_exercise.title %>
</p>

<p>
  <b>Length:</b>
  <%=h @my_exercise.length %>
</p>

<p>
  <b>Calories:</b>
  <%=h @my_exercise.calories %>
</p>


<%= link_to 'Edit', edit_my_exercise_path(@my_exercise) %> |
<%= link_to 'Back', my_exercises_path %>