<p>
  <b>Category:</b>
  <%=h @quick_fact.category %>
</p>

<p>
  <b>Title:</b>
  <%=h @quick_fact.title %>
</p>

<p>
  <b>Summary:</b>
  <%=h @quick_fact.summary %>
</p>

<p>
  <b>Reference:</b>
  <%=h @quick_fact.reference %>
</p>

<p>
  <b>Total score:</b>
  <%=h @quick_fact.total_score %>
</p>

<p>
  <b>Votes:</b>
  <%=h @quick_fact.votes %>
</p>


<%= link_to 'Edit', edit_quick_fact_path(@quick_fact) %> |
<%= link_to 'Back', quick_facts_path %>