<h1>New profile</h1>

<% form_for(@profile) do |w| %>
  <%= w.error_messages %>

     <p>
    <%= w.label "First name" %><br />
    <%= w.text_field :name_first %>
  </p>
    <p>
    <%= w.label :Middle_initial %><br />
    <%= w.text_field :middle_initial %>
  </p>
  
    <p>
    <%= w.label :Last_Name %><br />
    <%= w.text_field :name_last %>
  </p>
    <p>
    <%= w.label :sufix %><br />
    <%= w.text_field :sufix %>
  </p>
      
  <p>
    <%= w.label "Date of birth" %><br />
    <%= w.text_field :dob %>
    DOB is used in calculating things like BMI and also for offering special birthday promotions.
  </p>
      
  <p>
    <%= w.label "Hight in feet and Inches" %><br />
    <%= text_field_tag  :hight_foot %> FT <%= text_field_tag :hight_inch %> inches.
  </p>
      
   <p>
    <%= w.label :shipping_address %><br />
    <%= w.text_field :shipping_address %>
  </p>
     <p>
    <%= w.label :shipping_city %><br />
    <%= w.text_field :shipping_city %>
  </p>
     <p>
    <%= w.label :shipping_state %><br />
    <%= w.text_field :shipping_state %>
  </p>
     <p>
    <%= w.label :shipping_zip %><br />
    <%= w.text_field :shipping_zip %>
  </p>
  <p>
    <%= w.label :billing_address %><br />
    <%= w.text_field :billing_address %>
  </p>
  <p>
    <%= w.label :billing_city %><br />
    <%= w.text_field :billing_city %>
  </p>
    <p>
    <%= w.label :billing_state %><br />
    <%= w.text_field :billing_state %>
  </p>
    <p>
    <%= w.label :billing_zip %><br />
    <%= w.text_field :billing_zip %>
  </p>  
  <p>
    <%= w.label "Sponsor code if you know it" %><br />
    <%= w.text_field :sponsor %>
  </p>

  <p>
    <%= w.label :referred_by %><br />
    <%= w.text_field :referred_by %>
  </p>
  <p>
    <%= w.label :phone %><br />
    <%= w.text_field :phone %>
  </p>
  <p>
    <%= w.label :alt_phone %><br />
    <%= w.text_field :alt_phone %>
  </p>
  
  <p>
    <%= w.label :time_zone %><br />
    <%= w.text_field :time_zone %>
  </p>
  

  
  
  
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', profiles_path %>
