<p>
  <b>User:</b>
  <%=h @profile.user %>
</p>

<p>
  <b>Shipping address:</b>
  <%=h @profile.shipping_address %>
</p>

<p>
  <b>billing address:</b>
  <%=h @profile.billing_address %>
</p>

<p>
  <b>Sponsor:</b>
  <%=h @profile.sponsor %>
</p>

<p>
  <b>Coach:</b>
  <%=h @profile.coach %>
</p>

<p>
  <b>Referred by:</b>
  <%=h @profile.referred_by %>
</p>

<p>
  <b>Phone:</b>
  <%=h @profile.phone %>
</p>

<p>
  <b>Alt phone:</b>
  <%=h @profile.alt_phone %>
</p>

<p>
  <b>Hight:</b>
  <%=h @profile.hight %>
</p>

<p>
  <b>Time zone:</b>
  <%=h @profile.time_zone %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
