<h1>Listing blogs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Post</th>
    <th>Total score</th>
    <th>Votes</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%=h blog.user %></td>
    <td><%=h blog.title %></td>
    <td><%=h blog.post %></td>
    <td><%=h blog.total_score %></td>
    <td><%=h blog.votes %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New blog', new_blog_path %>