<h1>Register</h1>

<p>We all have challenges with our health and we all need a little extra help.  Here is the place where you can go for that personal support, the products that are scientificaly developed to help you acheve your goals, and the tools at your fingers to help you see your results and to make adjustments along the way.</p>


<% form_for :user, :url => {:action => "create" } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
   
   
    <% fields_for :profile do |w| %>
  <fieldset><legend>Required</legend>
  <p>
    <%= w.label "Date of birth" %><%= w.date_select :dob %><br/>
    DOB is used in calculating things like BMI and also for offering special birthday promotions.
  </p>
      
  <p>
    <%= w.label "Hight:" %> Feet:<%= w.text_field :hight_feet , :size => 2 %> Inches<%= w.text_field :hight_inches , :size => 2 %>.
  </p>
  </fieldset>

<table class="profile_format"><tr>
  <tr><th>
    <%= w.label "Nick name" %></th><th><%= w.text_field :name_first %>
  </th></tr>
   
  <tr><th>
    <%= w.label "First name" %></th><th><%= w.text_field :name_first %>
  </th></tr>
    <tr><th>
    <%= w.label :Middle_initial %></th><th><%= w.text_field :middle_initial %>
  </th></tr>
  
    <tr><th>
    <%= w.label :Last_Name %></th><th><%= w.text_field :name_last %>
  </th></tr>
    <tr><th>
    <%= w.label :sufix %></th><th><%= w.text_field :sufix %>
  </th></tr>
      

  <tr><th>
    <%= w.label "Sponsor code if you know it" %></th><th><%= w.text_field :sponsor %>
  </th></tr>

  <tr><th>
    <%= w.label :referred_by %></th><th><%= w.text_field :referred_by %>
  </th></tr>
</table>

  <% end %>
  

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

