<h1>Register</h1>

<p>We all have challenges with our health and we all need a little extra help.  Here is the place where you can go for that personal support, the products that are scientificaly developed to help you acheve your goals, and the tools at your fingers to help you see your results and to make adjustments along the way.</p>


<center>
<table>
<tr><td>

<% form_for :user, :url => {:action => "create" } do |f| %>
  <%= f.error_messages %>


<div class="center last">
  <fieldset><legend>User name & Password</legend>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
<br/>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
<br/>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
<br/>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
   </fieldset>
   
</div>
   
     <% fields_for :profile do |w| %>
   

<div class="center last" >
<fieldset><legend>Profile</legend>
<table class="profile_format"><tr>
  <tr><th>
    <%= w.label "First" %></th><th>
    <%= w.label "M.I." %></th><th>
    <%= w.label "Last" %></th><th>
    <%= w.label :sufix %></th>
    
    
  </tr><tr><th><%= w.text_field :name_first  , :size => 6 %>
  </th><th><%= w.text_field :middle_initial , :size =>1  %>
  </th><th><%= w.text_field :name_last , :size => 6  %>
  </th><th><%= w.text_field :sufix , :size => 3  %>
  </th></tr>
</table>
<br/>
<table>
  <tr><th>
    <%= w.label "Sponsor name or code if you know it" %><br/>
    <%= w.text_field :sponsor %>
  </th></tr>

  <tr><th>
    <%= w.label :referred_by %><br/>
    <%= w.text_field :referred_by %>
  </th></tr>
</table>
</fieldset>
</div>   
   
   
   <div class="center last">
   
  
  <fieldset><legend>Required</legend>
  <p>
    <%= w.label "Date of birth" %><%= w.date_select :dob , :start_year => 1900 %><br/>
  </p>
      
  <p>
    <%= w.label "Hight:" %> Feet:<%= w.text_field :hight_feet , :size => 2 %> Inches<%= w.text_field :hight_inches , :size => 2 %>.
  </p>
  </fieldset>
</div>


  <% end %>
  
  
  <fieldset>
<legend>Take a Moment to set some goals</legend>

<% fields_for :goal do |f| %>
<table><tr>
<th>Weight</th><th>Daily<br/>Water</th><th>Daily<br/> Steps</th><th>Daily<br/>Calories</th></tr>
<tr>
  <td><%= f.text_field :weight , :size=>3 %></td>
  <td><%= f.text_field :water, :size=>3 %></td>
  <td><%= f.text_field :steps_daily, :size=>3 %></td>
  <td><%= f.text_field :daily_calories, :size=>4 %></td>
  </tr></table>
  <% end %>
  <br/>
 * Daily Calorie goal should not be more then 500 less then your resting metabolism.  Women tend to pick 1200 to 1700.  Ask your coach if you have any questions.<br/>
 * Daily Water goal should be 1/2 your body weight with a 64oz minimum.  Ie, you are 180lb, then your target water consumption should be 90 ounces.<br/>
</fieldset>
  
  <fieldset>
  <legend>Weight</legend>
 
  <% fields_for   :weight do |w| %>
  
    <%= w.label :weight %>
    <%= w.text_field :weight  , :size => 4 %>

   
  <% end %>
  </fieldset>

  
<div class="center last" >
  
    <%= f.submit 'Create' %>
  
  
</div>
</td>
</tr>
</table>
<% end %>

