<h1>Editing coupon</h1>

<% form_for(@coupon) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @coupon %> |
<%= link_to 'Back', coupons_path %>