<h1>Listing offer_accesses</h1>

<table>
  <tr>
    <th>Promotion</th>
    <th>User</th>
  </tr>

<% @offer_accesses.each do |offer_access| %>
  <tr>
    <td><%=h offer_access.promotion %></td>
    <td><%=h offer_access.user %></td>
    <td><%= link_to 'Show', offer_access %></td>
    <td><%= link_to 'Edit', edit_offer_access_path(offer_access) %></td>
    <td><%= link_to 'Destroy', offer_access, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New offer_access', new_offer_access_path %>