<h1>Editing quick_fact</h1>

<% form_for(@quick_fact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </p>
  <p>
    <%= f.label :total_score %><br />
    <%= f.text_field :total_score %>
  </p>
  <p>
    <%= f.label :votes %><br />
    <%= f.text_field :votes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quick_fact %> |
<%= link_to 'Back', quick_facts_path %>