<%= link_to "NEW" , new_testimonies_path %><br/>

<img src="images/testimonies/<%= @testimony.photo %>" width=300 >





<p>
  <b>Photo:</b>
  <%=h @testimony.photo %>
</p>

<p>
  <b>Name:</b>
  <%=h @testimony.name %>
</p>

<p>
  <b>Layout:</b>
  <%=h @testimony.layout %>
</p>

<p>
  <b>Public:</b>
  <%=h @testimony.public %>
</p>

<p>
  <b>Title:</b>
  <%=h @testimony.title %>
</p>

<p>
  <b>Comment:</b>
  <%=h @testimony.comment %>
</p>

<p>
  <b>Points:</b>
  <%=h @testimony.points %>
</p>

<p>
  <b>Votes:</b>
  <%=h @testimony.votes %>
</p>

<p>
  <b>Before:</b>
  <%=h @testimony.before %>
</p>

<p>
  <b>After:</b>
  <%=h @testimony.after %>
</p>

<p>
  <b>Display value:</b>
  <%=h @testimony.display_value %>
</p>

<p>
  <b>Approved:</b>
  <%=h @testimony.approved %>
</p>


<%= link_to 'Edit', edit_testimony_path(@testimony) %> |
<%= link_to 'Back', testimonies_path %>
