<% content_for :head do %> 
  <script type="text/javascript">
  $(document).ready(function(){
    $("#watertodaybar").progressbar({ value: <%=   @today_water_ratio  %> });
    $("#waterweekbar").progressbar({ value: <%=  @week_water_ratio %> });
    $("#caltodaybar").progressbar({ value: <%= @today_calories_ratio %>  });
    $("#calweekbar").progressbar({ value: <%= @week_calories_ratio %>  });
  });
  </script>
<% end %>



<fieldset>
Water and calaries
<table>
<tr>
<th>Water today</th>
<th width=300><div id="watertodaybar"></div></th>
<th> <%=  @today_water_sum %> of <%= @recent_goal.water %> Ounces:<%= @today_water_ratio %>%</th>
</tr>
<tr>
<th>Water 7 days</th>
<th width=300><div id="waterweekbar"></div></th>
<th> <%= @week_water_sum %> of <%= @recent_goal.water * 7 %> Ounces:<%= @week_water_ratio %>%</th>
</tr>
<tr>
<th>Calories today.</th>
<th width=300><div id="caltodaybar"></div></th>
<th> <%= @today_calories_sum %> of <%= @recent_goal.daily_calories %> calories:<%= @today_calories_ratio %>%</th>
</tr>
<tr>
<th>Calories past 7 days.</th>
<th width=300><div id="calweekbar"></div></th>
<th> <%= @week_calories_sum %> of <%= @recent_goal.daily_calories * 7 %> calories:<%= @week_calories_ratio %>%</th>
</tr>
</table>

</fieldset>

