<fieldset>
Quick Support<br/>
* Feel free to call your coach directely. Also feel free to share interesting facts that others might enjoy.

<% form_for( :home) do |form| %>
<% fields_for :quick_support do |f| %>
<table>
<tr><th>Priority:  <%= f.text_field :priority %> </th><th><%= f.label :title %> <%= f.text_field :title %> </th></tr>
 <tr><th colspan=2 >Details: <br/>
    <%= f.text_area :details , :rows => 3, :cols => 80 %>
</th></tr>
</table>
  <p>
    <%= form.submit 'Support' %>
  </p>
<% end %>
<% end %>




</fieldset>

