<p>
  <b>User:</b>
  <%=h @goals.user %>
</p>

<p>
  <b>Weight:</b>
  <%=h @goals.weight %>
</p>

<p>
  <b>Chest:</b>
  <%=h @goals.chest %>
</p>

<p>
  <b>Belly upper:</b>
  <%=h @goals.belly_upper %>
</p>

<p>
  <b>Belly lower:</b>
  <%=h @goals.belly_lower %>
</p>

<p>
  <b>Hips:</b>
  <%=h @goals.hips %>
</p>

<p>
  <b>Thigh:</b>
  <%=h @goals.thigh %>
</p>

<p>
  <b>Arm:</b>
  <%=h @goals.arm %>
</p>

<p>
  <b>Water:</b>
  <%=h @goals.water %>
</p>

<p>
  <b>Steps daily:</b>
  <%=h @goals.steps_daily %>
</p>

<p>
  <b>Daily calories:</b>
  <%=h @goals.daily_calories %>
</p>


<%= link_to 'Edit', edit_goals_path(@goals) %> |
<%= link_to 'Back', goals_path %>