<div class"body last">

<div class="panel_left quick_form" >
  <%= render :partial => "quick_form" %>
</div> <%# class=panel_left quick_form %>


<fieldset>
<table class="noborder">
<th>
<div class="progress">
  <%= render :partial => "progress" %>
</div>
</th>
<th>
<div class="recent_goals"> 
<%= render :partial=>"goals" %>
</div >
</th>
</tr>
</table>
</fieldset>

<div class="charts">
  <%= render :partial => "charts" %>
</div>


<div>
  <%= render :partial=>"quick_fact" %>
</div>





<div class="support" >
<%= render :partial =>"support" %>
</div>


</div> <%# class=body last %>
