<h1>Listing my_foods</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Calories</th>
    <th>Protein</th>
  </tr>

<% @my_foods.each do |my_food| %>
  <tr>
    <td><%=h my_food.user %></td>
    <td><%=h my_food.name %></td>
    <td><%=h my_food.calories %></td>
    <td><%=h my_food.protein %></td>
    <td><%= link_to 'Show', my_food %></td>
    <td><%= link_to 'Edit', edit_my_food_path(my_food) %></td>
    <td><%= link_to 'Destroy', my_food, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New my_food', new_my_food_path %>