<h1>New promotion</h1>

<% form_for(@promotion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :offer_sku %><br />
    <%= f.text_field :offer_sku %>
  </p>
  <p>
    <%= f.label :percent %><br />
    <%= f.text_field :percent %>
  </p>
  <p>
    <%= f.label :accumulative %><br />
    <%= f.check_box :accumulative %>
  </p>
  <p>
    <%= f.label :all_access %><br />
    <%= f.check_box :all_access %>
  </p>
  <p>
    <%= f.label :offer_restriction %><br />
    <%= f.text_field :offer_restriction %>
  </p>
  <p>
    <%= f.label :offer_access %><br />
    <%= f.text_field :offer_access %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :sponsor %><br />
    <%= f.text_field :sponsor %>
  </p>
  <p>
    <%= f.label :all_sponsors %><br />
    <%= f.check_box :all_sponsors %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', promotions_path %>