<h1>Editing shake_recipe</h1>

<% form_for(@shake_recipe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :calories %><br />
    <%= f.text_field :calories %>
  </p>
  <p>
    <%= f.label :protein %><br />
    <%= f.text_field :protein %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @shake_recipe %> |
<%= link_to 'Back', shake_recipes_path %>