<div class="testimonyBottom">

<img src="images/testimonies/<%= @testimony.photo %>" width=400 >
<h2><%= @testimony.name %></h2>
Before: <%= @testimony.before %><br/>
After: <%= @testimony.after %><br/>
<%= @testimony.comment %>


</div>
