<h1>Listing offer_restrictions</h1>

<table>
  <tr>
    <th>Promotion</th>
    <th>User</th>
  </tr>

<% @offer_restrictions.each do |offer_restriction| %>
  <tr>
    <td><%=h offer_restriction.promotion %></td>
    <td><%=h offer_restriction.user %></td>
    <td><%= link_to 'Show', offer_restriction %></td>
    <td><%= link_to 'Edit', edit_offer_restriction_path(offer_restriction) %></td>
    <td><%= link_to 'Destroy', offer_restriction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New offer_restriction', new_offer_restriction_path %>