<h1>New goals</h1>

<% form_for(@goals) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.label :chest %><br />
    <%= f.text_field :chest %>
  </p>
  <p>
    <%= f.label :belly_upper %><br />
    <%= f.text_field :belly_upper %>
  </p>
  <p>
    <%= f.label :belly_lower %><br />
    <%= f.text_field :belly_lower %>
  </p>
  <p>
    <%= f.label :hips %><br />
    <%= f.text_field :hips %>
  </p>
  <p>
    <%= f.label :thigh %><br />
    <%= f.text_field :thigh %>
  </p>
  <p>
    <%= f.label :arm %><br />
    <%= f.text_field :arm %>
  </p>
  <p>
    <%= f.label :water %><br />
    <%= f.text_field :water %>
  </p>
  <p>
    <%= f.label :steps_daily %><br />
    <%= f.text_field :steps_daily %>
  </p>
  <p>
    <%= f.label :daily_calories %><br />
    <%= f.text_field :daily_calories %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', goals_path %>